        #addButton{
            margin-top:150px;
            width:200px;
            height:100px;
        }
        #generateButton{
            margin-top:250px;
            width:200px;
            height:100px;
        }